{% extends "homepage/base.html" %}
{% load static %}
{% block content %}

<section id="quienes-somos">

    <h2>Quienes Somos</h2>

<br>
<p class="parrafo2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore quasi, exercitationem tenetur natus illo praesentium asperiores vero dolorum, suscipit soluta adipisci rem architecto. Explicabo optio aut pariatur aliquam atque facilis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quis fugiat ullam dignissimos, ex similique voluptate! Aliquam, quaerat? Temporibus, consectetur praesentium quis eveniet impedit aspernatur quos quidem et fugiat natus!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum sunt at, incidunt aut quaerat fugiat et perferendis voluptatum porro eveniet harum nesciunt deleniti, iure quisquam natus nihil aliquid eligendi adipisci non saepe qui molestiae? Aspernatur asperiores numquam nemo, corrupti qui, sed delectus cupiditate perspiciatis et, alias rem nobis veniam cumque.
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur hic enim, repellendus deserunt, cumque natus animi sint exercitationem quas, ducimus quisquam voluptas quia. Architecto dolores magni in, corporis nulla rerum.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore corporis beatae quis. Sit officiis et sequi, autem tempore maiores velit nihil earum minus qui quas veritatis debitis consequuntur laboriosam dolorem!

</p>
<br>
<br>

</div>
<div id="fotos">
        
   <ul class="nosotros">
    <img src="{% static '/imagenes/logo2.png' %}" alt= "Logo de Hermanos sin Fronteras">
    <li><img src="{% static '/nosotros/11-113581_teacher-2-hombre-ejecu.jpg' %}" alt="nombre y cargo"></li>
    <li><img src="{% static '/nosotros/retrato-joven-mujer-sonriente_53.jpg' %}" alt="nombre y cargo"></li>
    <li><img src="{% static '/nosotros/hombre-pelo-corto-traje-negocios.jpg' %}" alt="nombre y cargo"></li>
    <li><img src="{% static '/nosotros/increible-mujer-negocios-alegre.jpg' %}" alt="nombre y cargo"></li>
    <li><img src="{% static '/nosotros/png-transparent-business-man-you.jpg' %}" alt="nombre y cargo"></li>
    <li><img src="{% static '/nosotros/depositphotos_336475472-stock-ph.jpg' %}" alt="nombre y cargo"></li>

</div>

{% endblock %}