{% extends "homepage/base.html" %}
{% load static %}
{% block content %}

<section id="">

    <article id="servicios">

    <h3>Servicios</h3>

<p class="stroke">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error quis nam repellendus voluptatum odit itaque dolorem vel omnis. Sunt reiciendis beatae, cupiditate cum vitae laborum fuga a quia sed voluptate!
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius earum voluptatum, labore quis impedit voluptatem quae illo debitis maxime vero magni laboriosam alias adipisci sequi nemo iure natus dolorem inventore?
    <br>

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum necessitatibus voluptates dicta. Soluta, nisi quas ratione dolorem quasi eligendi laborum officia repellendus consequatur labore deserunt corporis explicabo, dolores, architecto placeat.


</p>
    </article>
</section>

{% endblock %}